#heading {
    color: red;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    text-align: justify;
}

#find{
    text-align: center;
    text-decoration: black;
    text-shadow: black;
    margin-top: 80px;
}

.wrapper {
    text-align: center;
}

.button {
    position: relative;
}

#navbar {
    position: sticky;
    background-color:#FFFFFF;
}

#icon{
    color: red;
}

.card{
    width: 100%;
}

ul {
    display: flex;
}

#form {
    width: 50%;
}

.answer-text {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    color: purple;
    margin: 20px;
}

.recipe-text {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    color: purple;
    margin: 20px;
}